/*
 * Responsive SCSS File - SCSS v1.0
 * last edited 10/23/12
 * @author Justin Stollsteimer & Esther Ball-Babois - Fusionbox, Inc.
 * http://www.fusionbox.com
 *
 *
 *
 */


/* Adaptive
------------------------------------------------------*/
@media screen and (max-width: 960px) {
  body {}

  .adapt {
    header {
      min-width: 0px;
      width: 100%;

      nav.top{
        min-width: 0px;
        width: 100%;
      }
    }
  }


  section.content {
    min-width: 0px;
    width: 100%;
  }


  footer {
    min-width: 0px;
    width: 100%;
  }
}


/* -- iPad, Device Width: 768px -- */
@media screen and  (max-width: 959px) {
  body {
  }

  .adapt {

    header {
      .inner {
        width: 748px;
      }

      nav.top{
        ul {
          width: 748px;
        }
      }
    }
  }


  section.content {
    .inner {
      width: 748px;

      .left {
        margin-right: 15px;
        width: 155px;
      }

      section.main {
        margin: 0;
        width: 52%;

      }

      aside {
      }

      /* home */

    }
  }


  footer {
    .inner {
      width: 748px;
    }
  }
}


/* 7" Tablet, Device Width: 600px */
@media screen and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }

  body.shift {
    .adapt {
      left: 200px;
      transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
    }
  }

  .adapt {
    position: relative;
    left: 0px;
    transition: all .2s ease-in-out;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      -ms-transition: all .2s ease-in-out;

    header {
      .inner {
        width: 580px;

      }

      nav.top{
        background: transparent;
        border: 0px;
        display: block;
        font-size: 15px;
        position: absolute;
        top: 2px;
        left: -200px;
        margin: 0;
        width: 200px;

        .inner {
          margin-top: 142px;
          width: 180px;
        }

        ul {
           background: transparent;
           float: none;
           text-align: left;
           width: 180px;

           li {
             background: transparent;
             clear: left;
             display: block;
             margin-left: 0 !important;
             padding: 0;

             a {
               background: transparent;
               padding: 2px 10px;
               text-align: left;

               &:hover, &:active {
                 background: $white10;
               }

               &.here {
                 color: #8ACCF4;
               }
             }

             ul {
               display: block;
               float: none;
               padding: 0 0 0 18px;

               li {
                 border: 0px;

                 a:link,
                 a:visited {
                   color: $lightgrey;
                   font-size: 13px !important;
                   padding: 2px 10px 2px 0px;
                 }

                 ul {
                   display: block;
                   float: none;

                   li {
                     border: 0px;

                     a {
                       color: $grey;
                       font-size: 11px;
                       padding: 1px 10px 1px 0px;
                     }
                   }
                 }
               }
             }
           }
         }
      }
    }

    section.breadcrumb{
      display: inline-block;
      height: auto;
      min-width: 0px;
      padding: 0px 0;
      position: relative;
      width: 100%;
      z-index: 1;

      .inner {
        width: 580px;

        nav {
          font-size: 1.4em;
          font-weight: normal;
          text-transform: none;
        }
      }

      a.mobileMenu:link,
      a.mobileMenu:visited {
        border-right: 1px solid #999;
        color: #000;
        font-family: Lato,Helvetica,Arial,sans-serif;
        font-weight: bold !important;
        margin-right: 10px;
        padding-right: 10px;
        text-decoration: none;
      }

      p {
        font-size: 12px !important;

        a:link,
        a:visited {
          font-size: 12px !important;
        }
      }
    }

    section.content {
      .inner {
        width: 580px;

        .left {
          display: none;
        }


        section.main {
          width: 100%;

          p.breadcrumb {
            display: none !important;
          }
        }


        aside {
        }


        /* home */

      }
    }


    footer {
      .inner {
        width: 580px;
      }
    }
  }
}



/* Mobile Landscape, Device Width: 480px */
@media screen and (max-width: 599px) {
  body {
    /*overflow-x: hidden;*/
  }

  .adapt {
    header {
      .inner {
        width: 460px;
      }
    }


    section.breadcrumb{
      .inner {
        width: 460px;
      }
    }


    section.content {
      .inner {
        width: 460px;


        /* home */

      }
    }


    footer {
      .inner {
        width: 460px;
      }
    }
  }
}


/* Mobile Portrait, Device Width: 320px */
@media screen and (max-width: 479px) {
  body {
    overflow-x: hidden;
  }

  .adapt {
    header {
      .inner {
        width: 300px;
      }

    }


    section.breadcrumb{
      .inner {
        width: 300px;
      }
    }


    section.content {
      .inner {
        width: 300px;

        section.main {

        }

        aside {

        }


        /* home */


      }
    }


    footer {
      .inner {
        width: 300px;
      }
    }
  }
}