-e git://github.com/fusionbox/fusionbox-fabric-helpers.git#egg=fusionbox_fabric_helpers
-e git://github.com/fusionbox/django-fusionbox.git#egg=django_fusionbox
-e git://github.com/fusionbox/django-fusionbox-error_logging.git#egg=django_fusionbox_error_logging
-e git://github.com/Kronuz/pyScss@1c4335b1e38908eb77563028edd501c435d18642#egg=pyscss
Django==1.4.3
South
Werkzeug
django-cachebuster
django-compressor
django-debug-toolbar
django-extensions
django-email-bandit
# psycopg2
django-secure
django-grappelli
raven==2.0.10
