{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Log In' %}{% endblock %}
      
{% block content %}
  <h1>{% trans "Log In" %}</h1>
  <form method="post">
    {% csrf_token %}
    <fieldset>
      {{ form.non_field_errors }}
      {% for field in form %}
          {% include "partials/_field_as_div.html" %}
      {% endfor %}
    </fieldset>
    <p class="submitRow"><input type="submit" value="{% trans "Log In" %}" /></p>
  </form>
  <p>
    <a href="{% url 'django.contrib.auth.views.password_reset' %}">{% trans "Forgot Password?" %}</a>
  </p>
{% endblock %}
