{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans 'Change Password' %}{% endblock %}

{% block content %}
  <h1>{% trans "Change Password" %}</h1>
  <form action="" method="post">
    {% csrf_token %}
    <fieldset>
      {{ form.non_field_errors }}
      {% for field in form %}
        {% include "partials/_field_as_div.html" %}
      {% endfor %}
      <p class="submitRow"><input type="submit" value="{% trans 'Change My Password' %}" /></p>
    </fieldset>
  </form>
{% endblock %}
