<!doctype HTML>
{% load compress %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    {% block metadata %}
      <title>{% block title %}{% endblock %}</title>
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">

    <!-- Adobe Web Edge Fonts, for use and implementation help visit: http://html.adobe.com/edge/webfonts/ -->
    <script src="http://use.edgefonts.net/source-sans-pro.js"></script>

    {% compress css %}
      <link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css"  />
      <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" type="text/css" />
      <link rel="stylesheet" href="{% static 'css/main.scss' %}" type="text/x-scss"/>
    {% endcompress %}


    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

    {% compress js %}
      <script type="text/javascript" src="{% static 'js/generic.js' %}"></script>
    {% endcompress %}


    <link rel="icon" href="{% static 'image/favicon.ico' %}"  type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}"  type="image/x-icon">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <link rel="stylesheet" type="text/css" href="{% static 'css/ie.css' %}">
    <![endif]-->

    <!--[if lt IE 8]>
      <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome-ie7.css' %}" />
    <![endif]-->

  </head>
  <body class="{% block bodyClass %}{% endblock %}">

    <div class="adapt">

      <header>
        <div class="inner">
          <a class="logo" href="/"><img src="{% static 'image/logo.png' %}" alt="Alt Tag" /></a>

          <span class="social">
            <a href="#" rel="external" class="twitter"></a>
            <a href="#" rel="external" class="facebook"></a>
            <a href="#" rel="external" class="linkedin"></a>
            <a href="#" class="rss"></a>
          </span>

          <nav class="top">
            {% highlight_here %}
              <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                  <ul>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                  </ul>
                </li>
                <li><a href="#">Link</a></li>
              </ul>
            {% endhighlight %}
          </nav>

        </div>
      </header>



      {% block contentWrapper %}
      <section class="content">
        <div class="inner">

          {% block breadcrumb %}
          <p class="breadcrumb">
            <span>
              <a href="{% url 'home' %}">Home</a> {% block breadcrumbtail %}{% endblock %}
            </span>
          </p>
          {% endblock %}


          {% block content %}
          {% endblock %}

        </div>
      </section>
      {% endblock %}



      <footer>
        <div class="inner">

          <nav>
            <ul>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </nav>

          <p>&copy;{% now "Y" %} <strong>ClientName</strong>, Inc. All Rights Reserved.  Powered by Fusionbox, a <a href="http://www.fusionbox.com" rel="external" class="fusionbox">Denver Web Development</a> Agency</p>

        </div>
      </footer>

    </div><!-- /adapt -->

  </body>
</html>
